.post-container {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  color: aliceblue;
}

.post-title-container {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}

.post-title-container h1 {
  color: aliceblue;
}

.post-detail-container {
  margin-top: 10px;
  width: 100%;
}

.content {
  margin-top: 10px;
}

.post-container.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
